<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs', {titulo: "Carrito" , estilo: "carrito.css" })%>

  <body>
    <%- include('partials/header.ejs')%>

      <main>
        <!--CARRITO-->
        <section class="carrito-section">

          <div class="carrito-img-agregados">

            <!--Resumen de Compras-->
            <div class="carrito-descripcion">

              <!--Compras agregadas al carrito-->

              <% for( let index=0; index < productos.length; index++ ) { %>

                <div class="item-carrito">
                  <div>
                    <img class="carrito-img-chica" src="/img/avatars/<%= productos[index].imagenProducto %>" alt="">
                    <div class="info-item">
                      <p>
                        <%= productos[index].nombreProducto %>
                      </p>
                      <p>
                        <%= productos[index].descripción %>
                      </p>
                      <p>
                        Precio $<%= productos[index].precio %>
                      </p>

                      <form action="/carrito/<%= productos[index].id %>?_method=PUT" method="post">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" name="cantidad" value="<%= productos[index].cantidad %>">

                        <div class="carrito-botones">
                          <button type="submit">Modificar</button>
                        </div>
                      </form>
                      <form action="/carrito/<%= productos[index].id %>?_method=DELETE" method="post">
                        <div class="carrito-botones">
                          <button>Eliminar</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>

                <% } %>
            </div>


            <!--Nombre Producto-->
            <div class="carrito-producto">
              <h2 class="titulo-carrito">Resumen de Compra</h2>
              <div class="total-items">

                <h3>Producto/s(cantidad)</h3>
                <h3><%= sumaCantidad %></h3>

              </div>
              <div class="total-items">
                <h3>Envio</h3>
                <h3>Impuesto por Cadeteria</h3>
              </div>
              <div class="total-items">
                <h3>TOTAL</h3>
                <h3>$<%= sumaPrecio %></h3>
              </div>
              <form action="/admin/pedidos" method="post">
              <div class="boton-compra">
                <button type="submit">Comprar</button>
              </div>
            </form>
            </div>
          </div>

          <!--Botones-->

          <!--RULETA----Tambien te interesó-->
          <h3 class="titulo-ruleta">También te interesó</h3>
          <section class="ruleta-section">

            <article class="ruleta-article">
              <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 1" />
              <h4>Producto 1</h4>
              <p>Precio: $</p>
              <button>Añadir al carrito</button>
            </article>

            <article class="ruleta-article">
              <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 2" />
              <h4>Producto 2</h4>
              <p>Precio: $</p>
              <button>Añadir al carrito</button>
            </article>

            <article class="ruleta-article">
              <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 3" />
              <h4>Producto 3</h4>
              <p>Precio: $</p>
              <button>Añadir al carrito</button>
            </article>

            <article class="ruleta-article">
              <img class="ruleta-img" src="/img/carrito/botellahielo.jpg" alt="Producto 4" />
              <h4>Producto 4</h4>
              <p>Precio: $</p>
              <button>Añadir al carrito</button>
            </article>

          </section>
          </div>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

</html>