<section class="<%=productBox%>">
    <a href="/crearProducto/<%= productos.id %>">
        <figure>
            <img src="/img/avatars/<%= productos.imagenProducto %>" alt="imagen de producto">
        </figure>
        <article>
            <h2><%= productos.precio %></h2>
            <p><%= productos.nombreProducto %></p>
            <i></i>
        </article>
    </a>
</section>	