<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Admin" , estilo: "admin.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main>

                <section class="box-selection">
                    <a href="/admin/crearProducto"><button>Crear Producto</button></a>
                </section>
                <section class="box-render">
                    <!--SEARCH-->
                    <form action="/admin/buscarProducto" method="get">
                        <input type="text" name="buscar">
                        <input type="submit" value="buscar">
                    </form>
                    <% if (typeof productos !=='undefined' ) { %>
                        <article>
                            <% for (let i=0; i < productos.length; i++) { %>
                                <div class="prueba1">
                                    <img src="/img/avatars/<%= productos[i].imagenProducto %>" alt="imagen">
                                    <div class="prueba2">
                                        <%= productos[i].nombreProducto %>
                                        <div class="pruebabotones">
                                            <a href="/admin/<%= productos[i].id %>/modificarProducto"><button
                                                    type="submit" name="accion" value="modificar">Modificar</button></a>
                                            <form action="/admin/<%= productos[i].id %>?_method=DELETE" method="post">
                                                <button>Borrar</button>
                                            </div>
                                    </div>

                                </div>
                                </form>
                                <% } %>
                        </article>
                        <% } else if (typeof busquedaResultante !=='undefined' ) { %>
                            <article>
                                <% for (let i=0; i < busquedaResultante.length; i++) { %>
                                    <%= busquedaResultante[i].nombreProducto %>
                                        <a href="/admin/<%= busquedaResultante[i].id %>/modificarProducto"><button
                                                type="submit" name="accion" value="modificar">Modificar</button></a>
                                        <form action="/admin/<%= busquedaResultante[i].id %>?_method=DELETE"
                                            method="post">
                                            <button>Borrar</button>
                                        </form>
                                        <% } %>
                            </article>
                            <% } %>
                </section>

            </main>
    </body>

</html>