<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('../partials/head.ejs', {titulo: "Admin" , estilo: "admin.css" })%>

    <body>
        <!--Header-->
        <%- include('../partials/header.ejs')%>
            <!--Main-->
            <main>
                <%- include('../partials/botonesAdmin.ejs') %>
                    <section>
                        <a href="/admin/crearProducto"><button>Crear Producto</button></a>
                        <!--SEARCH-->
                        <form action="/admin/productos/buscar" method="get" class="form-admin">
                            <input type="text" name="buscar">
                            <input type="submit" value="buscar">
                        </form>
                        <section>
                            <% for (let i=0; i < productos.length; i++) { %>
                                <article class="bloque-carrusel">
                                    <div>
                                        <div class="info-producto">
                                            <div class="info-columna-1">
                                                <div>
                                                    <%= productos[i].marca %>
                                                        <%= productos[i].volumen %>
                                                </div>
                                                <div>
                                                    <%= productos[i].descripcion %>
                                                </div>
                                            </div>
                                            <div class="info-columna-2">
                                                <%= productos[i].precio %>
                                                    <%= productos[i].disponibilidad %>
                                            </div>


                                        </div>
                                        <div class="botones-productos">
                                            <div>
                                                <a href="/admin/modificarProducto/<%= productos[i].idproducto %>"><button
                                                        class="btn primary" type="submit" name="accion"
                                                        value="modificar">Modificar</button></a>
                                            </div>
                                            <div>
                                                <form
                                                    action="/admin/productos/<%= productos[i].idproducto %>?_method=DELETE"
                                                    method="post">
                                                    <button class="btn primary">Borrar</button>
                                                </form>
                                            </div>

                                        </div>

                                    </div>

                                    <div>
                                        <img src="/img/avatars/<%= productos[i].avatar %>" alt="avatar">
                                    </div>

                                </article>
                                <% } %>
                        </section>
                    </section>

            </main>
            <script src="/js/admin.js"></script>
    </body>

</html>