<!DOCTYPE html>
<html lang="en">

<!--<%- include('../partials/head', {titulo : 'crear', estilo : '404.css'}) %>-->

<body>
    <!--<%- include('../partials/header') %> -->
    <main>
        <form action="/admin/<%= productoActualizado.id %>/modificarProducto?_method=PUT" method="post" enctype="multipart/form-data">
            <div>
                <label for="nombreProducto">Nombre del Producto</label>
                <input type="text" name="nombreProducto" value="<%= productoActualizado.nombreProducto %>" />
            </div>
            <div>
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" value="<%= productoActualizado.descripcion %>"/>
            </div>
        <div>
            <label for="imagenProducto">imagen Producto:</label><br>
            <input type="file" id="imagen" name="imagenProducto" accept="image/*" value="<%= productoActualizado.imagenProducto %>">
        </div>
            <div>
                <label for="categoria">Categoría</label>
                <input type="text" name="categoria" value="<%= productoActualizado.categoria %>"/>
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" name="precio" value="<%= productoActualizado.precio %>"/>
            </div>
            <button type="submit" name="accion" value="modificar">Modificar</button>
        </form>
        <a href="/admin"><button>volver</button></a>
    </main>
    <!-- <%- include('../partials/footer') %> -->
</body>

</html>