<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {titulo : 'Detalles' , estilo : 'detalleproducto.css' }) %>


    <body>
        <button class="header-carro">
            <i class="fa-solid fa-cart-arrow-down"></i>
        </button>
        <%- include('../partials/header')%>
            <section>
                <%- include('../partials/carrouselProductos') %>
            </section>
            <section>
                <%- include('../partials/carrouselCategorias') %>
            </section>
            <section>
                <strong>También te puede interesar</strong>
                <%- include('../partials/productosConcurrentes') %>
            </section>

            <%- include('../partials/footer')%>
    </body>

</html>